* {
    box-sizing: border-box;
}

body {

    display: flex;
    align-items: center;justify-content: center;
    flex-direction: column; 
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

p {
    list-style-type: none;
   font-size: 25px;


}

.chiziq {

    width: 50px;
    border: 3px solid black;
    border-radius: 100%;
    border-right: none;
    border-left: none;
    border-top: none;
    margin-bottom: 30px;
  
    
}

.text {
    color: rgba(0, 0, 0, 0.5);
    width: 770px;
    margin-right: auto;
    margin-left: auto;
    text-align: center;
}


.box {

    display: flex;
    flex-direction: column;
    margin-bottom: 30px;
    margin-left: 30px;
    justify-content: center;
    border: 1px solid whitesmoke;
    width: 300px;
    height: 270px;
    padding-left: 20px;
    padding-top: 20px;

}

.list-links {
    text-decoration: none;
    color: #000;
    font-size: 20px;

}

ul {
    margin-right: auto;
    margin-left: auto;
    width: 1200px;
    display: flex;
    align-items: center;
    justify-content: center;
    list-style-type: none;
    flex-wrap: wrap;

}

.button {
    color: rgb(56, 56, 206);
    display: flex;
    align-items: center;
    justify-content: center;
    width: 200px;
    border: 2px solid rgb(56, 56, 206);
    border-radius: 100px;
    height: 48px;
    text-decoration: none;
    font-size: 20px;
}

.tex {
    color: rgba(0, 0, 0, 0.5);
    font-size: 16px;
    width: 250px;

}

img {
    width: 50px;
    height: auto;
    margin-bottom: 20px;

}

.list-img
{
    padding-left: 5px;
    width: 100px;
    height: 100px;
}